{% extends 'base.html.twig' %}

{% block title %}Connexion - DeployLab{% endblock %}

{% block body %}
    <section class="panel login">
        <h1>Connexion</h1>

        {% if error %}
            <div class="flash flash-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post" class="form">
            <div class="form-row">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
            </div>
            <div class="form-row">
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">Se connecter</button>
        </form>
    </section>
{% endblock %}
